<div class="about">
  <%= title "Cuestionario completo" %>

    <p>
      Si has llegado hasta aquí es probable que hayas acabado el cuestionario. Ahora puedes ver tus respuestas y completar algo si hiciese falta.
      En breve recibirás un email y podrás consultar el resto de los cuestionarios completos.
    </p>
    <p>
      Muchas gracias!
    </p>
</div>