<% title "No tengo nada online" %>
<div class="about">
  <h1>No tengo mis materiales subidos a la red... ¿qué hago?</h1>
  <p>Nuestros servidores no están preparados para alojar imágenes grandes, vídeos u otros tipos de
    contenidos multimedia (que requieren mucha cantidad de recursos)</p>
  <p>Existen muchas alternativas para subir los materiales, aunque hay que tener
    cuidado con los servicios privativos y las licencias. Si lo que quieres es compartir,
    busca sitios como <a href="http://archive.org">archive.org</a> que te aseguran
    licencias libres en todo tu contenido.</p>
  <p>Una vez las tengas subidas, puedes enlazar en el cuestionario copiando y pegando la
    url (el enlace).</p>
  <p>Siempre puedes no tener nada en intenet. No pasa nada.</p>
</div>
