<% title('Actividad del sitio') %>

<table>
  <thead>
    <tr>
      <td>Cuándo</td>
      <td>Qué</td>
      <td>Enlace</td>
    </tr>
  </thead>
  <tbody>
    <% @activities.each do |a| %>
    <tr class="activity <%= a.category %>">
      <td><%= h a.created_at.fecha %></td>
      <td><%= h a.description %></td>
      <td><%= link_to a.url, a.url if a.url %></td>
    </tr>
    <% end %>
  </tbody>
</table>