<div class="preview">
  <p>Enhorabuena! Tu cuestionario está completo.</p>
</div>
<div class="about">
  <p>Puesto que has completado tu cuestionario, ahora puedes
    <%= link_to 'ver las respuestas', surveys_path %> de todxs lxs participantes que también hayan completado su cuestionario.</p>
</div>
