<%= title "Ver otros cuestionarios" %>
<br/>
<div class="preview">
  Lo siento, tu cuestionario no está completo. 
</div>
<div class="about">
  <p>Hasta que no completes tu cuestionario no puedes ver el de otras personas<br/>
  Puedes  <%= link_to 'seguir editando', view_survey_presentacion_path %> tu cuestionario<br/>
  O puedes solicitar que validen tu cuestionario <%= link_to 'enviándonos un mensaje', new_feedback_path %>
  </p>
</div>