<% title('Cuestionarios por participantes')  %>
<table>
  <thead>
    <tr>
      <td>Participante</td>
      <td>Finalizado</td>
      <td>Cuestionarios</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, admin_user_path(user) %></td>
        <td><%= user.survey_completed? ? 'Si' : 'No' %></td>
        <td class="actions">
          <% Survey::CUESTIONARIOS.each do |name| %>
            <%= link_to name, {:controller => "survey_#{name}s", :action => :show, :id => user.id} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>